*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body{
  background: white;
}

.navbar{
  width: 100%;
  background: #222;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 20px;
}

.logo{
  font-size: 22px;
  font-weight: bold;
}

.menu{
  list-style: none;
  display: flex;
  gap: 25px;
}

.menu li a{
  color: white;
  text-decoration: none;
  font-size: 15px;
}

.right-menu{
  display: flex;
  gap: 18px;
}

.right-menu a{
  color: white;
  text-decoration: none;
  font-size: 15px;
  font-weight: bold;
}

/* Hamburger icon */
.menu-icon{
  display: none;
  font-size: 28px;
  cursor: pointer;
}

/* Responsive */
#menu-toggle{
  display: none;
}

@media (max-width: 768px){
  .menu{
    display: block;
    position: absolute;
    top: 55px;
    width: 100%;
    left: 0;
    text-align: center;
    background: #333;
    display: none;
    padding: 15px 0;
  }

  .menu li{
    margin: 12px 0;
  }

  #menu-toggle:checked ~ .menu{
    display: block;
  }

  .menu-icon{
    display: block;
  }

  .menu, .right-menu{
    width: 100%;
  }

  .right-menu{
    justify-content: flex-end;
  }
}

.content{
  padding: 25px;
}

.content h1{
  font-size: 22px;
  margin-bottom: 8px;
}